<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.powerleague-cdn.co.uk/content/45/5/311d6c3a6dc4d9b5732dd2b10c14c952.PNG);">
  <div class="container">
    <h1><strong>Pick a time</strong></h1>
    <h1>Please note for block bookings please email us.</h1>
  </div>
</div>

<div class="container p-3">
  <h2>Kick off times at <%= @facility.name %> </h2>
</div>

<div class="d-flex">
  <div class="container calendar-container flex-grow-1">
    <%= week_calendar(number_of_days: 3, events: @slots, end_attribute: :end_time) do |date, slots| %>
      <%= date %>

      <% slots.each do |slot| %>
        <div class="slot m-1" data-toggle="modal" data-target="#exampleModalCenter">
          <small><%= slot.start_time.strftime("%H:%M") %></small> - <small><%= slot.end_time.strftime("%H:%M") %></small>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container w-40">
    <div class="container">
      <h2>Your basket</h2>
      <ul></ul>
      <div class="container">
        <h3 class="lead">Subtotal</h3>
        <span class="h3 basket__total" >
        <span>Rs</span><span>0.00</span></span>
      </div>
    </div>
  </div>
</div>
<!--
# modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%= link_to "Edit facility", edit_facility_path, class: "nav-link" %>
