<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.powerleague-cdn.co.uk/content/45/5/311d6c3a6dc4d9b5732dd2b10c14c952.PNG);">
  <div class="container">
    <h1><strong>Pick a time</strong></h1>
    <h1>Please note for block bookings please email us.</h1>
  </div>
</div>

<div class="container p-3">
  <h2>Kick off times at <%= @facility.name %> </h2>
</div>

<div>
  <div class="calendar-container">
    <%= week_calendar(events: @slots, end_attribute: :end_time) do |date, slots| %>
      <%= date %>

      <% slots.each do |slot| %>
        <div class="slot m-1">
          <small><%= slot.start_time %></small>
          <small><%= slot.end_time %></small>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Edit facility", edit_facility_path, class: "nav-link" %>
